@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Josefin+Sans:wght@100&family=Kaushan+Script&family=Permanent+Marker&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background-color:black;
  color: white;
  margin: 1rem 2rem;
  font-size: 1.5rem;  
}

/*Menú*/   

.header {
  background-color:black;
}

.container-fluid{
  display: flex;
}

.collapse{
justify-content: space-between;
}

.navbar-toggler-icon{
 justify-content: right;
}



.dropdown-item{
  background-color: rgba(112, 112, 112, 0.973) !important;
  color:gold;
}

#logoCat{
  width: 150px;
  border-radius: 3px; 
}

a.nav-link{
color:black;

}

/*Superior */
.banner{
  height: 50vh;
  display: flex;
  align-items:center;
  margin: 3rem 5%; 

}

.banner img{
  width: 400px;
  border-radius: 5px;
  margin-left: 7rem;
  margin-top: 3rem ;
}
  

.bannerAction{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }

 .bannerAction h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  font-weight: 600;
 }

 .bannerAction p {
  font-size: 23px;
  width: 500px;
}

.bannerAction button{
  width: 100px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: goldenrod;
  color: white;
  padding: 7px 5px;
}

.contenedor-nosotros{
display: flex;
justify-content: space-evenly;
height: 60vh;
flex-direction:column;
padding-top: 1rem;
}

.contenedor-nosotros p,
h3{
  padding:5px;
}

.contenedor-servicios{
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
  flex-direction:column;
  .contenedor__servicios-info{
    padding:5px;
  }
  }
  
  .contenedor__servicios-info li{
     margin-top:1rem;
    }

  .contenedor-servicios p,
  h3{
    padding:5px;
  }



.contenedor-contactos{
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
  flex-direction:column;
  padding-top: 1rem;
}

.contenedorSegContactos ul{
border-radius:1px solid;
justify-content: center;
}

.contenedorContactos p,
h3{
  padding:5px;
}
.contenedorSegContactos h3{
  margin-bottom:2rem;
}

.contenedorSegContactos button{
  width: 100px;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  color:gold;
  text-transform: uppercase;
  background: linear-gradient (to left top, white, gold);
  font-size: 20px;
  border:none;
}

.contenedorSegContactos button:hover{
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215,0.610, 0.355, 1) .5s;
  }
  
  .contenedorSegContactos button:active{
    transform: translateY(3px);
  }

.control{
  width:100%;
}
/*Intermedio de pagina*/
.cuerpoPagina{
  display: flex;
  height: 65vh;
  flex-direction: column-reverse;
}

.carousel{
justify-self: center;
margin: 2rem;

}

.cuerpoPagina p{
  padding: 1rem;
}

.cuerpoPagina img{
  width: 200px;
  justify-content: center;
  order: 1;
}
  
.cuerpoPagina article{
  flex-direction: row;
  align-items: center;
}

.inicioProductos h1{
  margin-bottom:10px;
}

.inicioProductos ul {
  list-style: none;   
  
  padding-left: 0;
}

/*Medio de pagina*/
.medio-pagina{
  display: flex;
  justify-content: space-between;
  height: 60vh;
  flex-direction: row;

}

.article__mediopagina{
 padding: 1px;
}
.medio-pagina img{
  width: 280px;
  justify-content: center;
  order: 1;
  padding-bottom:  2rem;
}

.medio-pagina article{
  flex-direction: row;
 align-items: center;
}

.medio-pagina p{
  padding-bottom:  1rem;
}

.container ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

   .tituloPrincipal{
    color: rgb(245, 240, 240);
    font-family: 'Kaushan Script', cursive; 
    font-size: 2rem;
    margin-block-end: 0;
    margin-top: 5rem;
   }
   
   .tituloPrincipalProductos{
    color: rgb(245, 240, 240);
    font-family: 'Kaushan Script', cursive; 
    font-size: 2rem;
    margin-block-end: 0;
    margin-top: 5rem;
    text-align: center;
   }
   .titulo{
    color: rgb(245, 240, 240);
    font-family: 'Kaushan Script', cursive; 
    font-size: 2rem;
    margin-block-end: 0;
    }

.subTitulo{
  color: rgb(245, 240, 240);
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  }

  .titulo__sobrenosotros,.titulo__contactos{
    color: rgb(245, 240, 240);
    font-family: 'Kaushan Script', cursive; 
    font-size: 2rem;
    margin-block-end: 0;
    margin-top: 5rem;
   }

  .titulo__mediopagina{
    @extend.titulo__sobrenosotros,.titulo__contactos;
    margin-top: 3rem;
    }
 
   .servicios__titulo{
    color: rgb(245, 240, 240);
    font-family: 'Kaushan Script', cursive; 
    font-size: 2rem;
    margin-block-end: 0;
    margin-top: 5rem;
   }
   
   .subtitulo__contactos,.subtitulo__formpago{
    color: rgb(245, 240, 240);
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
   }

  #videos{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#videos iframe{
    width:100%;
    height: 280px;
    padding: 1rem;
   
}

.container-form{
  margin: 1px;
}

.container-formapago{
  margin-top: 2rem;
}
/*Linea correspondiente a formulario/contacto*/

.listaContactos{
  border-radius:1px solid;
}

.formFooter {
  margin: 0 auto;
  width:350px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  box-shadow: 7px 13px 30px white;
}

.btn{
    margin-top:1rem;
    justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

/*
label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
*/
input {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus {
  border-color: #000;
}


.button {
  padding-left: 90px; 
  margin-left: .5em;
}

/*Footer*/
footer {
  background-color: black;
  color: white;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ftTitle {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
  display: flex;
}

.ftMain li{
  justify-content: space-evenly;
}
.ftMain {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.ftMainItem {
  padding: 1.25rem;
  min-width: 12.5rem;
  flex-direction: column;
}
.ftMainItem a{
 color:white; 
}

.ftMainItemUbi{
  padding: 1.25rem;
  min-width: 12.5rem;
}


/* Footer */

/* 
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
 */


 .nav{
   margin-top: 3rem ;
 }

 .nav-link{
  background-color: black;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ftSocial {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px rgb(122, 85, 85) solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  color:white;
}
 
.ft-social-list a:hover{
  color: gold;
}

/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: black;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

.ft-legal-list a:hover{
  color: gold;
}
#copy {
  margin:1px;
}

/*Grid de index y producto*/
.containerGallery {
  width: 60%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}



.galleryContenedor {
  display: grid;
    grid-template-rows: 1fr ;
  grid-gap: 1rem; 
}

.galleryConItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.galleryConItem img{
  border-radius: 5px;
}
.galleryConItem--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryConItem--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryConItem--3  {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryFoto h3{
   margin-top: 30px;
}

.contenedorImg {
  width: 100%;
  margin: 2rem auto; 
}

.galleryProductos {
  display: grid;
    grid-template-rows: 1fr ;
  grid-gap: 1rem; 
}

.galleryConProd {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.galleryConProd--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryConProd--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryConProd--3  {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-vinculos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color:white;
}
.gallery-vinculos a:hover{
  color: gold;
  }

.gallery__pantalones{
  padding-right:  8.5rem;
  color:white;
}
.gallery__pantalones a,.gallery__remeras a,.gallery__camisas a {

  color:white;
}

.gallery__remeras{
  padding-right:  3rem;
}

.grid-container {
  display: grid;
  margin: 40px 0 40px 0;
  grid-template-columns: auto auto auto ;
  gap: 1.8rem 1rem;
  text-align: center;
  justify-content: stretch;
  font-size: 1.5rem;
   }

   .card-remera{
    width: 330px;
    height: 430px;
    border-radius:8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
  }
   .grid-container .card-remera:hover{
    transform: translateY(-15px);
    box-shadow: 0 10px 12px rgba(255, 255, 255, 0.733) ;
  }

  .grid-container .card-remera img{
    width: 330px;
    height: 280px;
  }

  .grid-container .card-remera h4{
    font-weight: 600;
    }

  .grid-container.card-remera p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
  }

  .card-boton {
    padding: 0.4rem;
    margin-top: 0.1;
    border-color: gold;
    background-color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 90%;
    height: 3rem;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;}

    .boton:hover {
      border-color: white;
      color: gold;
      background-color: black;
      transition: 300ms linear;
     }
    
  
/*MEDIA QUERY*/

@import "mediaquery";