#talle {
    background-color: white;
    border-color: gold;
    color: black; }

    .card-boton {
        padding: 0.4rem;
        border-color: gold;
        background-color: white;
        border-radius: 0.2rem;
        cursor: pointer;
        width: 100%;
        font-weight: 700;
        font-size: 0.80rem;
        font-family: 'Josefin Sans', sans-serif;}
        .boton:hover {
          border-color: white;
          color: gold;
          background-color: black;
          transition: 300ms linear; }

    .img-example{
      display: block;
      width: 70%;
      margin:auto;
    }

    .card-body{
      background-color: black;
    }
    
    .card-title{
      font
      text-align: center
      font-weight: 700;
        font-size: 1 rem;
        font-family: 'Josefin Sans', sans-serif;
        color:white;
    }
    .card-text{
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      color:white;
    }

    